# Ignore token.json to prevent sensitive information from being pushed
backend/src/token.json

# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/